body {
    background-color: powderblue;
  }
  h1 {
    color: rgb(255, 255, 255);
  }
  
  h2 {
    color: gray;
  }
  
  h2 {
    color: black;
  }
  
  p {
    color: black;
  }
  
  div{
      background-color: white;
      color: black;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}
header {
    background-color: #24305E;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}
nav a {
color: #000000;
text-decoration: none;
text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #24305E;
}

li a {
    display: block;
    
}